@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{ box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; scroll-behavior: smooth;}
html, body { height: 100%; overflow: hidden;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;

    color: white;
    padding: 0.5rem 1rem;
}

nav .container {
    position: relative;
}

.container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    padding-right: 1.618em;
    padding-left: 1.618em;
}

.mobile-wrap {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
}

.nav-left {
    list-style-type: none;
    display: flex;
    gap: 12rem;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.nav-left li a:hover {
    color: gray;
}

.nav-right li a img:hover {
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.3s ease-in-out;
}

.nav-left li img {
    vertical-align: middle;
    border-radius: 8px;
}

.nav-right {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-right li a img{
    width: 32px;
}

.menu-toggle {
    margin: 0 auto;
    
    color: white;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

main {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    z-index: 100;

}

main h1 {
    color: #ffffff;

    text-shadow: 
        0 0 1px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #FF6347,
        0 0 30px #FF6347,
        0 0 40px #FF6347,
        0 0 50px #FF6347;
        
    animation: blink 1.5s infinite alternate;
}

footer {
    position: relative;
    
    
    text-align: center;
    z-index: 100;

    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
}


@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
 
}

@media (max-width: 768px) {
    .nav-wrap .nav-left img {
        display: none;
    }
    .nav-wrap-active .nav-left img {
        display: none;
    }

    .nav-wrap .nav-right {
        display: none;
    }

    .nav-wrap-active .nav-right {
        display: none;
    }
    
    .nav-left {
        display: none;
    }

    .nav-wrap-active .nav-left {
        
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    main .header-text {
        display: none;
    }
}
          
